<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<div class="container-fluid">
<div class="row d-flex justify-content-around flex-wrap">
    <div class="col-11 d-flex justify-content-around flex-wrap">
    {{#each products}}
            <div class="card bg-dark text-light m-3 " style="width: 16rem;display: inline-block;" >
                <img class="card-img-top" src="{{this.imgUrl}}" height="250px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-text text-center"style="margin-bottom:15px">{{this.title}}</h5>
                    <p class="card-text text-center m-0">Price : {{this.price}}</p>
                    <p class="card-text text-center m-0">Category : {{this.category}}</p>
                    <p class="card-text text-center m-0">Rating : {{this.ratings}}</p>
                </div>
                <div class="text-center">
                    <form action="/productdetails/{{this._id}}" method="get">
                    <input type="submit" class="btn btn-primary btn-lg px-5" value="Buy">
                </form>
                </div>
            </div>
    {{/each}}
</div></div>
</div>